body {
   
    background: rgb(88,103,125);
    background: radial-gradient(circle, rgba(88,103,125,1) 0%, rgba(11,32,64,1) 62%, rgba(0,0,0,1) 100%);
color: white;
};

.inline-block-container {
    white-space: nowrap;
}

.inline-block {
    display: inline-block;
    vertical-align: top;
    background-color: black;
    color: white;
    font-family: 'Gloock', serif;
    font-family: 'Poppins', sans-serif;;
    
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: 80vh; /* Adjust the height as needed */
}

.photo {
    flex: 1;
    margin: 5px; 
}

.text {
    flex: 1;
    padding: 10px; /* Add padding to the text container */
    margin: 0px; /* Add margin to the text container */
    font-family: 'Gloock', serif;
    font-family: 'Poppins', sans-serif;
}

.div.logo {
    width: 23%;
    padding: 1%;
}

.ul {
    width: 50%;
    margin-left: auto;
    text-align: center; 
}


.section.heroImg {
    height: 600px;
    padding: 100px;
}

.content {
    width: 500px;
    margin: 0 auto; 
    font-family: 'Gloock', serif;
    font-family: 'Poppins', sans-serif;
    padding: 50px;
}

footer {
    background-color: black;
    text-align: left;
    padding: 20px; }
    

    footer ul {
        display: inline-block;
        vertical-align: top; 
    }
    footer li {
        padding: 0 15px; 
    }

    .overlay {
        opacity: 0.6; 
    }
 
    
    .photo {
        flex: 1;
        margin: 10px; /* Reduce the margin to your desired spacing */
    }
    
    .text {
        flex: 1;
        padding: 20px; /* Adjust the padding to your desired spacing */
        font-family: 'Gloock', serif;
        font-family: 'Poppins', sans-serif;
    }


    .navigation {
        position: fixed;
        top: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: white;
        background-color: black;
        padding: 20px 30px; /* Adjust the padding as needed */
    }
    
    .header-left {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    
    h5, h6 {
        margin: 0;
    }
    
    .nav-center ul {
        list-style: none;
        padding: 0;
        display: flex;
        font-family: 'Gloock', serif;
        font-family: 'Poppins', sans-serif;
    }
    
    .nav-center li {
        text-align: center;
        margin: 0 10px; /* Adjust the margin between links */
        position: relative; /* Add position relative to the list items */
    }
    
    .nav-center a {
        text-decoration: none;
        color: white;
        text-align: center;
    }
    
    .nav-center a:hover {
        text-decoration: underline;
        text-align: center;
    }
    
    /* Dropdown styles */
    .dropdown {
        position: relative;
        text-align: center;
    }
    
    .dropdown-content {
        display: none;
        position: absolute;
        text-align: center;
        background-color: black;
        max-width: 50px;
        z-index: 1;
        top: 100%; /* Position the dropdown below the link */
        left: 0;
    }
    
    .dropdown-content a {
        color: white;
        padding: 10px;
        text-decoration: none;
        display: block;
        text-align: center;
    }
    
    .dropdown:hover .dropdown-content {
        display: block;
        text-align: center;
    }

    h5 {font-family: 'Gloock', serif;
        font-size: 30px;}
    
    h6 {font-family: 'Gloock', serif;
    font-size: 16px;}

    h7 {font-family: 'Gloock', serif;
        font-family: 'Poppins', sans-serif;
        font-size: 14px;
        ;}

        a:link {
            color: white;
          }

          a:visited {
            color: white;
          }

          a:hover {
            color: #8CA9D3;
          }
    
